*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #fafafc;
}

li{
  list-style: none;
}

/*-----header----*/

.header {
  background-color: #fff;
  padding: 18px 64px;
  height: 60px;
  box-shadow: 0 1px 3px 0 rgba(11, 12, 13, 0.16), 0 0 1px 0 rgba(11, 12, 13, 0.24);
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}

.header-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}

.counts-right{
  display: flex;
  align-items: center; 
}

.header-text {
  margin-left: 12px;
}

/*----main---*/

main {
  background-color: #fafafc;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
  border-radius: 4px;
  padding: 24px;
  width: 1152px;
  height: 228px;
  box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08), 0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
  background-color: #fff;
  margin: 24px auto;
}

form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-left: 24px;
  margin-bottom: 12px;
}

.input, .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  color: #919191;
}

.title-notes, .description-notes {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: #919191;
}

.input {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 6px 12px;
  width: 344px;
  height: 36px;
}

.text {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 6px 12px;
  width: 848px;
  height: 84px;
  resize: none;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 6px;
  margin-top: 75px;

  margin-bottom: 12px;
}

fieldset {
  all: unset;
}

legend {
  all: unset;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: #919191;
  margin: 0;
  padding: 0;
}

.radio-list {
  display: flex;
  align-items: center;
  gap: 14px;
  list-style: none;
  padding-left: 0;
  margin-top: 4px;
}

.radio {
  appearance: none;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: green;
}

.radio[value="red"] {
  background-color: #F37D7D;
}

.radio[value="green"] {
  background-color: #C2F37D;
}

.radio[value="blue"] {
  background-color: #7DE1F3;
}

.radio[value="yellow"] {
  background-color: #F3DB7D;
}

.radio[value="purple"] {
  background-color: #E77DF3;
}

.radio:checked {
  border-color: white;
  box-shadow: 0 0 0 3px white, 0 0 0 4.5px #007BFF;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #457cdc;
  border-radius: 10px;
  padding: 6px 24px;
  width: 232px;
  height: 36px;
  margin-bottom: 24px;
}

button img {
  padding-right: 8px;
}

.empty-note {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #000;
}

.messages-box{
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  gap: 10px;
  display: none;
  padding: 12px 24px;
  margin-left: auto;
}

.done-note{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71429;
  color: #fff;
  width: 230px;
  height: 48px;
  border-radius: 10px;
  box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08), 0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
  background-color: #47b27d;
  margin-left: 10px; 
}

.cancel-note{
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 10px;
padding: 12px 24px;
font-weight: 500;
font-size: 14px;
line-height: 1.71429;
color: #fff;
background-color: #f23d5b;
width: 230px;
height: 48px;
border-radius: 10px;
box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08), 0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
margin-left: 10px; 
}

.favorite-note{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71429;
  color: #fff;
  width: 350px;
  height: 48px;
  border-radius: 10px;
  box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08), 0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
  background-color: #47b27d;
  margin-left: 10px; 
}

.warning-note{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71429;
  color: #fff;
  background-color: #f23d5b;
  width: 427px;
  height: 48px;
  border-radius: 10px;
  box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08), 0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
  margin-left: 10px; 
}


.note-container{
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
}

.view-notes{
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 12px 0px 0px 0px;
}

.title-content{
  display: flex;
  flex-direction: column;
  width: 368px;
  height: auto;
  border-radius: 10px;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(11, 12, 13, 0.08), 0 8px 16px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
  background: #fff;
}

.note-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #292515;
  padding: 12px;
  background-color: inherit;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.buttons-note{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 12px;
  width: auto;
  height: auto;

}


.favourite-button, .delete-button {
  width: 24px;
  height: 24px;
  background-size: contain;
  margin: 0;
  padding: 0;
}
.favourite-button {
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.delete-button {
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: transparent;
}


.note-content {
  padding: 12px;
  width: 368px;
  height: auto;
  background: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  color: #000;
  }

.filter-box{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 8px;
  padding-right: 385px;
}

.toggle-favorite-button{
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: #000;
}